*{
    margin: 0;
    padding: 0;
}

.card {
   position: relative;
   top: 50px;
   left: 50px;
   border: solid black 5px;
   border-radius: 5px;
}

body{
    height:100%;
    background-image: url("./assets/img/techBG-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

html{
    height: 100%;
}

.summary{
    position: relative;
    width: 1100px !important;
    left: 250px;
    bottom: 340px;
    height: 300px;
}

.brand-logo{
    position: relative;
    left: 50px;
    font-weight: bold;
}


